*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
demo
checkpoints
data/
external/
vis_ply/
vis/
debug/
debug_vis/
output/
output_sup/
wandb/
*.pth
*.ply
*.png
*.jpg
*.mp4
*.ipynb_checkpoints
*.ipynb